/* Algemene instellingen */
* {
  box-sizing: border-box;
}

body {
  border: inset #caff08;
  padding: 0rem 0,3rem orem 0,3rem #0631ec;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(17, 180, 71);
  background-clip: content-box
   
}

/* Navigatie */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 9px #caff08;
  background-color: #0631ec;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 3px #000000;
  text-align: center;
  text-decoration: none;
  color: #fbff00;
}

nav a[aria-current='page'] {
  color: #fbff00;
  background-color: hsl(0, 88%, 45%);
}

nav a:hover {
  color: #0631ec;
  background-color: lightgreen;
}

/* Hoofdinhoud */
main {
  padding: 1rem;
}

/* Tekststijlen */
h1, h2, h3, p {
  text-align: center;
  padding: 0.5rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1.2rem;
}

h3 {
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 1px 1px #caff08;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

.welcome {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: overline;
  text-shadow: 3px 9px 6px #00FFFF;
  color: #0631ec;
}

/* Tabellen */
.table-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6px;
  gap: 3%;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 3px solid black;
  padding: 9px 27px;
  margin: 0.1rem;
}

td {
  background-color: #48ff00;
  font-family: Arial, sans-serif;
}

th {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  background-color: #caff08;
}

#socials, #onchain, #gallery {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline wavy;
  text-underline-offset: 6px;
  text-shadow: 2px 1px #FF0000;
}

/* Hyperlinks */
a:link {
  color: chartreuse;
  background-color: darkgreen;
  text-decoration: none;
}

.table1 a:visited, .table2 a:visited {
  color: rgb(255, 0, 221);
  background-color: darkgreen;
  text-decoration: none;
}

a:hover {
  color: #0631ec;
  background-color: lightgreen;
  cursor: pointer;
}

a:active {
  color: #2bff00;
  background-color: rgb(100, 0, 87);
  text-decoration: none;
}

/* Afbeeldingengalerij */
.gallery-container {
  flex-direction: row;
  width: 100%;
  margin: auto;
  background-color: #48ff00;
  padding: auto;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 0;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid rgb(63, 0, 0);
  border-radius: 27%;
  cursor: pointer;
  margin-bottom: 27px;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  color: purple;
  background-color: green;
  border: 4px ridge rgb(63, 0, 0);
  margin-bottom: 23px;
}

button:disabled:hover{
  cursor: disabled;
  background-color:#fff;
  color:disabled;
  border: initial;
  border-style: outset;
  margin: initial;
}
/* Responsive design */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

/* Formulier voor afbeeldingengalerij */
#addImageForm {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
}

#columnLeft, #columnRight{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

#addImageForm input[type="password"],
#addImageForm button {
  align-self: center;
  flex-direction: column;
}

/* End gallery */
/*mainpage end, page 2 start*/

.tablecontainer-page2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

td.table-page2 {
  box-sizing: border-box;
  padding: 6%;
  border-width: 3%;
  margin: 0.3rem;
}

.audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: wrap;
}

iframe {
  display: none;
}

iframe.active {
  display: block;
}

/* Footer */
.footer {
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
  text-decoration: underline dashed;
  text-shadow: 1px 1px 0px #caff08;
  width: 100%;
  height: 21%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 9px auto;
  margin: 0.1rem 0 0 0;
  border-top: solid 9px #caff08;
  background-color: #0631ec;
}